@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MSHK University</a>
            </div>
            <ul class="nav navbar-nav">
                <li >@Html.ActionLink("Home", "MainPage", "Home")</li>
                <li class="active">@Html.ActionLink("Schedule", "ViewSchedule", "Home")</li>
                <li class="active">@Html.ActionLink("Courses", "ViewCourses", "Home")</li>
                <li>@Html.ActionLink("Login/Logout", "Index", "Home")</li>
                
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
